<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/integration"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:task="http://www.springframework.org/schema/task"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
            https://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration
            https://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task.xsd">

    <channel id="pendingActorsChannel"/>

    <service-activator id="combatGroupGatewayActivator" input-channel="pendingActorsChannel" ref="combatGroupBuilderService" method="handleActor"/>
    <beans:bean id="combatGroupBuilderService" class="de.obi.challenge.zombie.simulation.impl.flow.CombatGroupBuilderService" />

    <channel id="combatGroupsChannel">
        <dispatcher task-executor="executor"/>
    </channel>
    <task:executor id="executor" pool-size="10"/>

    <service-activator id="combatExecutorActivator" input-channel="combatGroupsChannel" ref="combatService" method="fight"/>
    <beans:bean id="combatService" class="de.obi.challenge.zombie.simulation.impl.combat.CombatService" scope="prototype"/>

    <channel id="simulationEventChannel"/>

    <service-activator input-channel="simulationEventChannel" ref="simulationFassade" method="handleSimulationEvent"/>
    <beans:bean id="simulationFassade" class="de.obi.challenge.zombie.simulation.impl.SimulationFassade" />
</beans:beans>